body {
  margin: 0 auto; }

body p, body h1, body h2, body h3, body h4, body h5, body h6 {
  margin: 0; }

body section {
  width: auto;
  height: auto; }

body section header {
  position: relative;
  display: block;
  width: 100%;
  height: 130px;
  overflow: hidden; }

body section header div.a1 {
  width: 100%;
  height: 30px;
  background: #DA1C5C;
  padding-left: 60px; }

body section header div.a1 div {
  position: relative;
  display: block;
  height: 100%;
  width: 20px;
  float: left;
  margin-left: 10px; }

body section header div.a2 {
  position: relative;
  display: block;
  width: 100%;
  height: 100px;
  background: white; }

body section header div.a2 div.a21 {
  width: 25%;
  height: 100%;
  float: left;
  padding-top: 20px;
  padding-left: 30px; }

body section header div.a2 div.a21 foto {
  display: block;
  width: 50%;
  height: 50%;
  background-size: contain;
  background-repeat: no-repeat; }

body section header div.a2 div.a22 {
  position: relative;
  display: block;
  width: 70%;
  height: 100%;
  float: left; }

body section header div.a2 div.a22 ul {
  overflow: hidden;
  margin: 0 auto; }

body section header div.a2 div.a22 ul li {
  float: left;
  list-style-type: none; }

body section header div.a2 div.a22 ul li a {
  color: black;
  display: block;
  padding: 30px 15px;
  text-decoration: none; }

body section center div.b {
  width: 100%;
  height: 800px;
  background-image: url(images/home-cor.jpg);
  overflow: hidden; }

body section center div.b div.b1 {
  display: block;
  width: 100%;
  height: 50%; }

body section center div.b div.b1 h2 {
  text-align: center;
  font-size: 25px;
  color: white;
  font-weight: 600;
  padding-top: 200px; }

body section center div.b div.b1 h3 {
  text-align: center;
  font-size: 20px;
  color: white;
  font-weight: 600;
  margin-top: 40px; }

body section center div.b div.b1 p {
  text-align: center;
  font-size: 14px;
  color: white;
  font-weight: 600;
  margin-top: 20px; }

body section center div.b div.b2 {
  display: block;
  width: 100%;
  height: 50%; }

body section center div.b div.b2 div {
  position: relative;
  display: block;
  width: 14.28%;
  height: 100%;
  float: left;
  padding-top: 40px; }

body section center div.b div.b2 div foto {
  display: block;
  width: 50%;
  height: 25%;
  background-size: contain;
  background-repeat: no-repeat; }

body section center div.b div.b2 div h2 {
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 600; }

body section center div.c {
  position: relative;
  display: block;
  width: 100%;
  height: 500px;
  background: #f7f7f7;
  overflow: hidden; }

body section center div.c div.c1 {
  width: 50%;
  height: 100%;
  padding-top: 40px;
  float: left; }

body section center div.c div.c1 h3 {
  text-align: left;
  margin-left: 100px;
  margin-right: 20px;
  font-size: 40px;
  font-weight: 500;
  color: #727070; }

body section center div.c div.c1 p {
  text-align: left;
  margin-left: 100px;
  margin-right: 20px;
  margin-top: 40px;
  font-size: 18px;
  color: #747474;
  font-weight: normal; }

body section center div.c div.c1 a {
  padding: 10px;
  background: #DA1C5C;
  color: white;
  text-align: center;
  display: block;
  width: 95px;
  position: absolute;
  left: 100px;
  top: 350px; }

body section center div.c div.c2 {
  width: 50%;
  height: 100%;
  padding-top: 130px;
  float: left; }

body section center div.c div.c2 img {
  width: 75%; }

body section center div.d {
  position: relative;
  display: block;
  width: 100%;
  height: 1705px;
  background-image: url(images/home-cor.jpg);
  overflow: hidden; }

body section center div.d div.d1 {
  position: relative;
  display: block;
  width: 100%;
  height: 200px;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 100px; }

body section center div.d div.d1 foto {
  display: block;
  width: 50%;
  height: 50%;
  background-size: contain;
  background-repeat: no-repeat; }

body section center div.d div.d2 {
  position: relative;
  display: block;
  width: 100%;
  height: 105px; }

body section center div.d h3 {
  text-align: center;
  font-size: 25px;
  color: white;
  font-weight: 600; }

body section center div.d div.d3 {
  position: relative;
  display: block;
  width: 100%;
  height: 400px; }

body section center div.d div.d3 div.d311 {
  width: 8%;
  height: 100%;
  float: left; }

body section center div.d div.d3 div.d31 {
  width: 28%;
  height: 100%;
  float: left; }

body section center div.d div.d3 div.d31 foto {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover; }

body section center div.d div.d3 div.d32 {
  width: 28%;
  height: 100%;
  float: left; }

body section center div.d div.d3 div.d32 foto {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover; }

body section center div.d div.d3 div.d33 {
  width: 28%;
  height: 100%;
  float: left; }

body section center div.d div.d3 div.d33 foto {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover; }

body section center div.d div.d3 div.d312 {
  width: 8%;
  height: 100%;
  float: left; }

body section center div.d div.d4 {
  position: relative;
  display: block;
  width: 100%;
  height: 400px; }

body section center div.d div.d4 div.d411 {
  width: 8%;
  height: 100%;
  float: left; }

body section center div.d div.d4 div.d41 {
  width: 28%;
  height: 100%;
  float: left; }

body section center div.d div.d4 div.d41 foto {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover; }

body section center div.d div.d4 div.d42 {
  width: 28%;
  height: 100%;
  float: left; }

body section center div.d div.d4 div.d42 foto {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover; }

body section center div.d div.d4 div.d43 {
  width: 28%;
  height: 100%;
  float: left; }

body section center div.d div.d4 div.d43 foto {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover; }

body section center div.d div.d4 div.d412 {
  width: 8%;
  height: 100%;
  float: left; }

body section center div.d div.d5 {
  position: relative;
  display: block;
  width: 100%;
  height: 400px; }

body section center div.d div.d5 div.d511 {
  width: 8%;
  height: 100%;
  float: left; }

body section center div.d div.d5 div.d51 {
  width: 28%;
  height: 100%;
  float: left; }

body section center div.d div.d5 div.d51 foto {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover; }

body section center div.d div.d5 div.d52 {
  width: 28%;
  height: 100%;
  float: left; }

body section center div.d div.d5 div.d52 foto {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover; }

body section center div.d div.d5 div.d53 {
  width: 28%;
  height: 100%;
  float: left; }

body section center div.d div.d5 div.d53 foto {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover; }

body section center div.d div.d5 div.d512 {
  width: 8%;
  height: 100%;
  float: left; }

body section center div.e {
  position: relative;
  display: block;
  width: 100%;
  height: 1000px;
  background: white;
  overflow: hidden; }

body section center div.e div.e1 {
  position: relative;
  display: block;
  width: 100%;
  height: 30%;
  float: left;
  padding-left: 250px;
  padding-right: 350px;
  padding-top: 100px; }

body section center div.e div.e1 foto {
  display: block;
  width: 40%;
  height: 40%;
  background-size: contain;
  background-repeat: no-repeat; }

body section center div.e div.e1 h2 {
  text-align: center;
  font-size: 25px;
  color: #905fa1;
  font-weight: 600;
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 500px; }

body section center div.e div.e2 {
  position: relative;
  display: block;
  width: 100%;
  height: 70%;
  float: left; }

body section center div.e div.e2 div {
  display: block;
  width: 33.33333%;
  height: 100%;
  float: left; }

body section center div.e div.e2 div foto {
  display: block;
  width: 75%;
  height: 50%;
  background-size: cover;
  border-radius: 50%; }

body section center div.e div.e2 div h2 {
  text-align: left;
  font-size: 20px;
  color: #727070;
  font-weight: 600;
  padding-left: 20px;
  padding-top: 10px; }

body section center div.e div.e2 div h3 {
  text-align: left;
  font-size: 20px;
  color: #905fa1;
  font-weight: 600;
  padding-left: 20px;
  padding-top: 10px; }

body section center div.e div.e2 div p {
  text-align: left;
  font-size: 16px;
  color: #747474;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px; }

body section center div.f {
  position: relative;
  display: block;
  width: 100%;
  height: 700px;
  background-image: url(images/home-cor.jpg);
  overflow: hidden; }

body section center div.f div.f1 {
  position: relative;
  display: block;
  width: 100%;
  height: 50%;
  float: left; }

body section center div.f div.f1 foto {
  display: block;
  width: 40%;
  height: 40%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 400px;
  margin-top: 50px; }

body section center div.f div.f1 h2 {
  text-align: center;
  font-size: 20px;
  color: white;
  font-weight: 600;
  margin-top: 20px; }

body section center div.f div.f2 div.f21 {
  position: relative;
  display: block;
  width: 50%;
  height: 100%;
  float: left; }

body section center div.f div.f2 div.f21 div.f211 {
  position: relative;
  display: block;
  width: 600px;
  height: 40px;
  background: #c8c8c8;
  border-radius: 10px;
  margin-bottom: 10px; }

body section center div.f div.f2 div.f21 div.f211 div.f2111 {
  position: relative;
  display: block;
  width: 90%;
  height: 100%;
  float: left; }

body section center div.f div.f2 div.f21 div.f211 div.f2111 p {
  text-align: left;
  font-size: 18px;
  color: #747474;
  margin-top: 7px;
  margin-left: 10px; }

body section center div.f div.f2 div.f21 div.f211 div.f2112 {
  position: relative;
  display: block;
  width: 10%;
  height: 100%;
  background: #e6e6e6;
  float: left;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px; }

body section center div.f div.f2 div.f21 div.f212 {
  position: relative;
  display: block;
  width: 600px;
  height: 40px;
  background: #c8c8c8;
  border-radius: 10px;
  margin-bottom: 10px; }

body section center div.f div.f2 div.f21 div.f212 div.f2121 {
  position: relative;
  display: block;
  width: 80%;
  height: 100%;
  float: left; }

body section center div.f div.f2 div.f21 div.f212 div.f2121 p {
  text-align: left;
  font-size: 18px;
  color: #747474;
  margin-top: 7px;
  margin-left: 10px; }

body section center div.f div.f2 div.f21 div.f212 div.f2122 {
  position: relative;
  display: block;
  width: 20%;
  height: 100%;
  background: #e6e6e6;
  float: left;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px; }

body section center div.f div.f2 div.f21 div.f213 {
  position: relative;
  display: block;
  width: 600px;
  height: 40px;
  background: #c8c8c8;
  border-radius: 10px;
  margin-bottom: 10px; }

body section center div.f div.f2 div.f21 div.f213 div.f2131 {
  position: relative;
  display: block;
  width: 70%;
  height: 100%;
  float: left; }

body section center div.f div.f2 div.f21 div.f213 div.f2131 p {
  text-align: left;
  font-size: 18px;
  color: #747474;
  margin-top: 7px;
  margin-left: 10px; }

body section center div.f div.f2 div.f21 div.f213 div.f2132 {
  position: relative;
  display: block;
  width: 30%;
  height: 100%;
  background: #e6e6e6;
  float: left;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px; }

body section center div.f div.f2 div.f22 {
  position: relative;
  display: block;
  width: 50%;
  height: 100%;
  float: left; }

body section center div.f div.f2 div.f22 div.f221 {
  position: relative;
  display: block;
  width: 600px;
  height: 40px;
  background: #c8c8c8;
  border-radius: 10px;
  margin-bottom: 10px; }

body section center div.f div.f2 div.f22 div.f221 div.f2211 {
  position: relative;
  display: block;
  width: 97%;
  height: 100%;
  float: left; }

body section center div.f div.f2 div.f22 div.f221 div.f2211 p {
  text-align: left;
  font-size: 18px;
  color: #747474;
  margin-top: 7px;
  margin-left: 10px; }

body section center div.f div.f2 div.f22 div.f221 div.f2212 {
  position: relative;
  display: block;
  width: 3%;
  height: 100%;
  background: #e6e6e6;
  float: left;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px; }

body section center div.f div.f2 div.f22 div.f222 {
  position: relative;
  display: block;
  width: 600px;
  height: 40px;
  background: #c8c8c8;
  border-radius: 10px;
  margin-bottom: 10px; }

body section center div.f div.f2 div.f22 div.f222 div.f2221 {
  position: relative;
  display: block;
  width: 75%;
  height: 100%;
  float: left; }

body section center div.f div.f2 div.f22 div.f222 div.f2221 p {
  text-align: left;
  font-size: 18px;
  color: #747474;
  margin-top: 7px;
  margin-left: 10px; }

body section center div.f div.f2 div.f22 div.f222 div.f2222 {
  position: relative;
  display: block;
  width: 25%;
  height: 100%;
  background: #e6e6e6;
  float: left;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px; }

body section center div.f div.f2 div.f22 div.f223 {
  position: relative;
  display: block;
  width: 600px;
  height: 40px;
  background: #c8c8c8;
  border-radius: 10px;
  margin-bottom: 10px; }

body section center div.f div.f2 div.f22 div.f223 div.f2231 {
  position: relative;
  display: block;
  width: 70%;
  height: 100%;
  float: left; }

body section center div.f div.f2 div.f22 div.f223 div.f2231 p {
  text-align: left;
  font-size: 18px;
  color: #747474;
  margin-top: 7px;
  margin-left: 10px; }

body section center div.f div.f2 div.f22 div.f223 div.f2232 {
  position: relative;
  display: block;
  width: 30%;
  height: 100%;
  background: #e6e6e6;
  float: left;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px; }

body section center div.g {
  @include-pos-dis;
  width: 100%;
  height: 500px;
  background: white;
  overflow: hidden; }

body section center div.g div.g1 {
  position: relative;
  display: block;
  width: 100%;
  height: 50%;
  float: left; }

body section center div.g div.g1 foto {
  display: block;
  width: 40%;
  height: 40%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 425px;
  margin-top: 50px; }

body section center div.g div.g1 h2 {
  text-align: center;
  font-size: 25px;
  color: #905fa1;
  font-weight: 600;
  margin-top: 20px; }

body section center div.g div.g2 {
  position: relative;
  display: block;
  width: 100%;
  height: 50%;
  float: left; }

body section center div.g div.g2 div {
  position: relative;
  display: block;
  width: 25%;
  height: 100%;
  float: left; }

body section center div.g div.g2 div foto {
  display: block;
  width: 25%;
  height: 25%;
  background-size: contain;
  background-repeat: no-repeat; }

body section center div.g div.g2 div h2 {
  text-align: center;
  font-size: 60px;
  color: #363839; }

body section center div.g div.g2 div h3 {
  text-align: center;
  font-size: 15px;
  color: #905fa1; }

body section center div.y {
  width: 100%;
  height: 350px;
  background: #262727;
  padding-top: 70px;
  overflow: hidden; }

body section center div.y div.y1 {
  position: relative;
  display: block;
  width: 25%;
  height: 100%;
  float: left; }

body section center div.y div.y1 foto {
  display: block;
  width: 60%;
  height: 25%;
  background-size: contain;
  background-repeat: no-repeat; }

body section center div.y div.y1 p {
  text-align: left;
  font-size: 20px;
  color: #c8c8c8;
  margin-left: 40px; }

body section center div.y div.y2 {
  position: relative;
  display: block;
  width: 25%;
  height: 100%;
  float: left; }

body section center div.y div.y2 h2 {
  text-align: left;
  font-size: 24px;
  color: #c8c8c8;
  margin-left: 40px; }

body section center div.y div.y2 p {
  text-align: left;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 40px; }

body section center div.y div.y2 p a {
  color: #c8c8c8;
  display: block; }

body section center div.y div.y3 {
  position: relative;
  display: block;
  width: 25%;
  height: 100%;
  float: left; }

body section center div.y div.y3 h2 {
  text-align: left;
  font-size: 24px;
  color: #c8c8c8;
  margin-left: 40px; }

body section center div.y div.y3 p {
  text-align: left;
  font-size: 20px;
  color: #c8c8c8;
  margin-left: 40px;
  margin-top: 10px; }

body section center div.y div.y4 {
  position: relative;
  display: block;
  width: 25%;
  height: 100%;
  float: left; }

body section center div.y div.y4 div.y41 {
  position: relative;
  display: block;
  width: 100%;
  height: 20%;
  float: left; }

body section center div.y div.y4 div.y41 h2 {
  text-align: left;
  font-size: 24px;
  color: #c8c8c8;
  margin-left: 40px; }

body section center div.y div.y4 div.y42 {
  position: relative;
  display: block;
  width: 100%;
  height: 50%;
  float: left; }

body section center div.y div.y4 div.y42 div.y421 {
  position: relative;
  display: block;
  width: 80%;
  height: 33.33333%;
  float: left; }

body section center div.y div.y4 div.y42 div.y421 div.y4211 {
  position: relative;
  display: block;
  width: 33.33333%;
  height: 100%;
  float: left; }

body section center div.y div.y4 div.y42 div.y421 div.y4211 foto {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover; }

body section center div.y div.y4 div.y42 div.y421 div.y4212 {
  position: relative;
  display: block;
  width: 33.33333%;
  height: 100%;
  float: left; }

body section center div.y div.y4 div.y42 div.y421 div.y4212 foto {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover; }

body section center div.y div.y4 div.y42 div.y421 div.y4213 {
  position: relative;
  display: block;
  width: 33.33333%;
  height: 100%;
  float: left; }

body section center div.y div.y4 div.y42 div.y421 div.y4213 foto {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover; }

body section center div.y div.y4 div.y42 div.y422 {
  position: relative;
  display: block;
  width: 80%;
  height: 33.33333%;
  float: left; }

body section center div.y div.y4 div.y42 div.y422 div.y4221 {
  position: relative;
  display: block;
  width: 25%;
  height: 100%;
  float: left; }

body section center div.y div.y4 div.y42 div.y422 div.y4221 foto {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover; }

body section center div.y div.y4 div.y42 div.y422 div.y4222 {
  position: relative;
  display: block;
  width: 25%;
  height: 100%;
  float: left; }

body section center div.y div.y4 div.y42 div.y422 div.y4222 foto {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover; }

body section center div.y div.y4 div.y42 div.y422 div.y4223 {
  position: relative;
  display: block;
  width: 25%;
  height: 100%;
  float: left; }

body section center div.y div.y4 div.y42 div.y422 div.y4223 foto {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover; }

body section center div.y div.y4 div.y42 div.y422 div.y4224 {
  position: relative;
  display: block;
  width: 25%;
  height: 100%;
  float: left; }

body section center div.y div.y4 div.y42 div.y422 div.y4224 foto {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover; }

body section center div.y div.y4 div.y42 div.y423 {
  position: relative;
  display: block;
  width: 80%;
  height: 33.33333%;
  float: left; }

body section center div.y div.y4 div.y42 div.y423 div.y4231 {
  position: relative;
  display: block;
  width: 33.33333%;
  height: 100%;
  float: left; }

body section center div.y div.y4 div.y42 div.y423 div.y4231 foto {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover; }

body section center div.y div.y4 div.y42 div.y423 div.y4232 {
  position: relative;
  display: block;
  width: 33.33333%;
  height: 100%;
  float: left; }

body section center div.y div.y4 div.y42 div.y423 div.y4232 foto {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover; }

body section center div.y div.y4 div.y42 div.y423 div.y4233 {
  position: relative;
  display: block;
  width: 33.33333%;
  height: 100%;
  float: left; }

body section center div.y div.y4 div.y42 div.y423 div.y4233 foto {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover; }

body section footer {
  width: 100%;
  height: 60px;
  background: #363839; }
