<div class="d">
                    <div class="d1">
                        
                    
                        
                    <img src="assets/images/4_a.fw_-1.png">
                    </div>
                    <div class="d2">
                        <h3>We lorem and ipsum your aliquam</h3>
                    </div>
                    <div class="d3">
                        <div class="d311"></div>
                        <div class="d31">
                            
                            <img src="assets/images/sun-1756322_1280.jpg">
                        </div>
                        <div class="d32">
                            
                            <img src="assets/images/spread-1776657_1280.jpg">
                        </div>
                        <div class="d33">
                            
                            <img src="assets/images/sheltie-1155731_1280.jpg">
                        </div>
                        <div class="d312"></div>
                    </div>
                    <div class="d4">
                        <div class="d411"></div>
                        <div class="d41">
                            
                            <img src="assets/images/fishing-boat-1654457_1280.jpg">
                        </div>
                        <div class="d42">
                           
                            <img src="assets/images/sandburg-1639999_1280.jpg">
                        </div>
                        <div class="d43">
                            
                            <img src="assets/images/rubber-duck-1401225_1280.jpg">
                        </div>
                        <div class="d412"></div>
                    </div>
                    <div class="d5">
                        <div class="d511"></div>
                        <div class="d51">
                            
                            <img src="assets/images/play-stone-1744790_1280.jpg">
                        </div>
                        <div class="d52">
                            
                            <img src="assets/images/kelpies-1634176_1280.jpg">
                        </div>
                        <div class="d53">
                            
                            <img src="assets/images/italy-1614931_1280.jpg">
                        </div>
                        <div class="d512"></div>
                    </div>
                    <div class="d6"></div>
                    
                </div>