<div class="e">
                    <div class="e1">
                        <img src="assets/images/6_a.fw_.png">
                        <h2>We lorem and ipsum your aliquam</h2>
                    </div>
                    <div class="e2">
                        <div>
                            
                            <img src="assets/images/avatar02.jpg">
                            <h2>David Miller</h2>
                            <h3>CEO</h3>
                            <p>Kitsch PBR selvage, banjo post-ironic master cleanse hoodie plaid put a bird on it dreamcatcher quinoa. Chia single-origin coffee Etsy, locavore Shoreditch twee whatever messenger.</p>
                        </div>
                        <div>
                            
                            <img src="assets/images/avatar05.jpg">
                            <h2>Milla Smith</h2>
                            <h3>Designer</h3>
                            <p>Kitsch PBR selvage, banjo post-ironic master cleanse hoodie plaid put a bird on it dreamcatcher quinoa. Chia single-origin coffee Etsy, locavore Shoreditch twee whatever messenger.</p>
                        </div>
                        <div>
                            
                            <img src="assets/images/avatar03.jpg">
                            <h2>David Miller</h2>
                            <h3>Designer</h3>
                            <p>Kitsch PBR selvage, banjo post-ironic master cleanse hoodie plaid put a bird on it dreamcatcher quinoa. Chia single-origin coffee Etsy, locavore Shoreditch twee whatever messenger.</p>
                        </div>
                    </div>
</div>