@import "../../variables";
div.b{
        width:$width1;
        height:800px;
        background-image:$back-img;
        overflow:hidden;
        div.b1{
            display:block;
            width:$width1;
            height:$height1/2;
            h2{
                @include font1-style;
                padding-top:200px;
            }
            h3{
                @include font1-style($size:20px);
                margin-top:40px;
            }
            p{
                @include font1-style($size:14px);
                margin-top:20px;
            }
            
        }
        div.b2{
            display:block;
            width:$width1;
            height:$height1/2;
            padding-left:160px;
            div{
                @include pos-dis;
                width:$width1+(-85.72%);
                height:$height1;
                float:left;
                padding-top:40px;
                div.foto{
                    @include foto-style($height:25%);
                    float:left;
                    img{@include foto-style($height:100%,$width:100%);padding-left:40px;}
                }
                h2{
                    @include font1-style($size:20px);
                    float:left;
                    width: 170px;
                    display: block;
                    
                    
                }
            }
        }
        
    }