<div class="y">
                    <div class="y1">
                        <img src="assets/images/new-logo-site-white.png">
                        <p>But nothing the copy said could convince her and so it didn’t take long until a few insidious.</p>
                    </div>
                    <div class="y2">
                        <h2>LASTEST POST</h2>
                        <p *ngFor='let block of yBlock'><a href="{{block.href}}"><p>{{block.title}}</p></a></p>
                        
                    </div>
                    <div class="y3">
                        <h2>BUSINESS HOURS</h2>
                        <p>Our support Hotline is available 24
Monday-Friday: 9am to 5pm
Saturday: 10am to 2pm
Sunday: Closed</p>
                    </div>
                    <div class="y4">
                        <div class="y41"><h2>PORTFOLIO</h2></div>
                        <div class="y42">
                            <div class="y421">
                                <div class="y4211" *ngFor='let block1 of y1Block' ><img src="{{block1.image}}"></div>
                            </div>
                            <div class="y422">
                                <div class="y4221"*ngFor='let block2 of y2Block' ><img src="{{block2.image}}"></div>
                            </div>
                            <div class="y423">
                                <div class="y4231"*ngFor='let block3 of y3Block' ><img src="{{block3.image}}"></div>
                            </div>
                            
                        </div>   
                    </div>
                </div>