<div class="e">
                    <div class="e1">
                        <img src="assets/images/6_a.fw_.png">
                        <h2>We lorem and ipsum your aliquam</h2>
                    </div>
                    <div class="e2">
                        <div *ngFor='let block of eBlock'>
                            <img src="{{block.image}}">
                            <h2>{{block.title1}}</h2>
                            <h3>{{block.title2}}</h3>
                            <p>{{block.text}}</p>
                            
                           
                        </div>
                        
                    </div>
</div>