 <div class="g">
                    <div class="g1">
                        
                        <img src="assets/images/5_a.fw_.png">
                        <h2>Counter Lorem</h2>
                    </div>
                    <div class="g2">
                        <div>
                         
                        <img src="assets/images/10.png">
                        <h2>26,412</h2>
                        <h3>PAGE VIEWS</h3>
                    </div>
                        <div>
                        	
                        <img src="assets/images/20.png">
                        <h2>15,362</h2>
                        <h3>COFFEE CONSUMED</h3>
                    </div>
                        <div>
                        	
                        <img src="assets/images/30.png">
                        <h2>21,568</h2>
                        <h3>PROJECT FINISHED</h3>
                    </div>
                        <div>
                        	
                        <img src="assets/images/40.png">
                        <h2>26,854</h2>
                        <h3>PIZZA'S EATEN</h3>
                    </div>
                    </div>
                </div>
