<div class="f">
                    <div class="f1">
                        <img src="assets/images/s2.fw_.png">
                        <h2>Our Skills</h2>
                    </div>
                    <div class="f2">
                        <div class="f21">
                            <div class="f211">
                                <div class="f2111"> <p>Development</p></div>
                                <div class="f2112"></div>
                                
                                
                                
                            </div>
                            <div class="f212">
                                <div class="f2121">
                                <p>Design</p></div>
                                <div class="f2122"></div>
                                
                            </div>
                            <div class="f213">
                               <div class="f2131"> <p>Marketing</p></div>
                                <div class="f2132"></div>
                                
                            </div>
                        </div>
                        <div class="f22">
                            <div class="f221">
                                <div class="f2211"><p>Web</p></div>
                                <div class="f2212"></div>
                                
                            </div>
                            <div class="f222">
                                <div class="f2221"><p>SEO</p></div>
                                
                                <div class="f2222"></div>
                            </div>
                            <div class="f223">
                                <div class="f2231"><p>Adwords</p></div>
                                <div class="f2232"></div>
                                
                            </div>
                        </div>
                    </div>
                </div>