<div class="b">
                    <div class="b1">
                        <h2>ARTIM COMPANY</h2>
                        <h3>With Us Only The Sky Is Your Limit</h3>
                        <p>Donec rutrum congue leo eget vivamus magna porttitor, lacinia eget consectetur sed, convallis at tellus.</p>
                    </div>
                    <div class="b2">
                        <div></div>
                        <div>
                            <div class="foto" >
                            	<img src="assets/images/02_a.fw_-1.png">
                            </div>
                            <h2>A Real Design</h2>
                        </div>
                        <div>
                            <div class="foto" ><img src="assets/images/3_a.fw_-1.png"></div>
                            <h2>Breath Colour</h2>
                        </div>
                        <div>
                            <div class="foto" ><img src="assets/images/4_a.fw_-1.png"></div>
                            <h2>Project</h2>
                        </div>
                        <div>
                            <div class="foto" ><img src="assets/images/6_a.fw_-1.png"></div>
                            <h2>Studio</h2>
                        </div>
                        <div>
                            <div class="foto"><img src="assets/images/5_a.fw_-1.png"></div>
                            <h2>Campaign</h2>
                        </div>
                        <div></div>
                    </div>
                </div>