<div class="c">
                <div class="c1">
                    <h3>About Us</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
                    <a href="">Contact Us!</a>
                    </div>
                    <div class="c2">
                        <img src="assets/images/abou2t.fw_.png">
                    </div>
                </div>