@import "../../variables";
     div.g{   @include-pos-dis;
        width:$width1;
        height:500px;
        background:$white1;
        overflow: hidden;
        div.g1{
            @include pos-dis;
            width:$width1;
            height:$height1/2;
            float:left;
            img{
            height:100px;
            width:100px;
            margin-top:30px;
            margin-left:625px;

            }
            h2{
                @include font1-style($color:$purple1);
                margin-top:20px;
            }
        }
        div.g2{
            @include pos-dis;
            width:$width1;
            height:$height1/2;
            float:left;
            div{
            img{
            margin-left:150px;
            }

                @include pos-dis;
            width:$width1+(-75%);
            height:$height1;
            float:left;
                
                h2{
                    text-align:center;
                    font-size:60px;
                    color:$darkgray2;
                }
                h3{
                   text-align:center;
                    font-size:15px;
                    color:$purple1; 
                }
            }
        }
    }