<div class="b">
                    <div class="b1">
                        <h2>ARTIM COMPANY</h2>
                        <h3>With Us Only The Sky Is Your Limit</h3>
                        <p>Donec rutrum congue leo eget vivamus magna porttitor, lacinia eget consectetur sed, convallis at tellus.</p>
                    </div>
                    <div class="b2">
                        
                        <div *ngFor='let block of bBlock'>
                            <div class="foto"  >
                                <img src="{{block.image}}">
                            	
                            </div>
                            <h2>{{block.title}}</h2>
                            
                        </div>
                        
                        
                    </div>
                </div>