<header>
            <div class="a1">
                <div><a href=""><img src="assets/images/1.png"></a>
                </div>
                <div><a href=""><img src="assets/images/2.png"></a>
                </div>
                <div><a href=""><img src="assets/images/3.png"></a>
                </div>
                <div><a href=""><img src="assets/images/4.png"></a>
                </div>
                <div><a href=""><img src="assets/images/5.png"></a>
                </div>
                <div><a href=""><img src="assets/images/6.png"></a>
                </div>
                <div><a href=""><img src="assets/images/7.png"></a>
                    </div>
            </div>
        <div class="a2">
                <div class="a21">
                    <div class="foto"></div>
                </div>

                <div class="a22">
                    <ul>
                    <li><a href="http://newthemes.net/artim/">Home</a></li>
                    <li><a href="http://newthemes.net/artim/headers/">Headers</a></li>
                    <li><a href="http://newthemes.net/artim/about-us/">About Us</a></li>
                    <li><a href="http://newthemes.net/artim/template_services/">Services</a></li>
                    <li><a href="http://newthemes.net/artim/home-corporate/#">Portfolio</a></li>
                    <li><a href="http://newthemes.net/artim/elements/">Elements</a></li>
                    <li><a href="http://newthemes.net/artim/shop/">Shop</a></li>
                    <li><a href="http://newthemes.net/artim/right-sidebar/">Blog</a></li>
                    <li><a href="http://newthemes.net/artim/features/">Features</a></li>
                    <li><a href="http://newthemes.net/artim/home-corporate/#">Sliders</a></li>
                    <li><a href="http://newthemes.net/artim/contact/">Contact</a></li>
                    </ul>
                </div>
            </div>
            </header>