@import "../../../variables";
.input {
	position: relative;
	
	margin-left:200px;
	margin-top: 20px;

 label {

	position: absolute;
	top: 0;
	
	left: 10px;
	background: white;
	padding: 2px 2px;
	margin-top:0px;

	font-size:20px;
	color:$pink1;
	
}
.input1 {
	position: relative;
	display: block;
	margin-left:-600px;
	margin-top: 20px;}

 p {
 margin-top:-15px;

	text-align:left;
	font-size:20px;
	color:black;
	margin-left:250px;
	
}
select {
	padding: 10px 20px;
	font-size: 20px;
	
	
	
}


 input {
 margin-left:230px;
    position:relative;
	display:block;
	padding: 10px 20px;
	font-size: 25px;
	outline: 0;
}
	button{
	margin-left:150px;
    position:relative;
	display:block;
    padding: 10px 20px;
	font-size: 25px;
	outline: 0;
	color: grey;
	}
	
}
.datepicker{
	padding: 10px 12px;
	margin-left:-500px;
}