<div class="y">
                    <div class="y1">
                        <img src="assets/images/new-logo-site-white.png">
                        <p>But nothing the copy said could convince her and so it didn’t take long until a few insidious.</p>
                    </div>
                    <div class="y2">
                        <h2>LASTEST POST</h2>
                        <p><a href="http://newthemes.net/artim/dissuade-ecstatic/">Dissuade Ecstatic</a></p>
                        <p><a href="http://newthemes.net/artim/properly-saw/">Properly Saw</a></p>
                        <p><a href="http://newthemes.net/artim/laughter-endeavor/">Laughter Endeavor</a></p>
                        <p><a href="http://newthemes.net/artim/vanity-excuse/">Vanity Excuse</a></p>
                        <p><a href="http://newthemes.net/artim/sufficient-understood/">Sufficient Understood</a></p>
                    </div>
                    <div class="y3">
                        <h2>BUSINESS HOURS</h2>
                        <p>Our support Hotline is available 24
Monday-Friday: 9am to 5pm
Saturday: 10am to 2pm
Sunday: Closed</p>
                    </div>
                    <div class="y4">
                        <div class="y41"><h2>PORTFOLIO</h2></div>
                        <div class="y42">
                            <div class="y421">
                                <div class="y4211"><img src="assets/images/board-1614646_1280.jpg"></div>
                                <div class="y4212"><img src="assets/images/boot-1620452_1280.jpg"></div>
                                <div class="y4213"><img src="assets/images/chess-1483735_1280.jpg"></div>
                            </div>
                            <div class="y422">
                                <div class="y4221"><img src="assets/images/cucumbers-1776752_1280.jpg"></div>
                                <div class="y4222"><img src="assets/images/different-nationalities-1743392_1280.jpg"></div>
                                <div class="y4223"><img src="assets/images/egg-1600890_1280.jpg"></div>
                                <div class="y4224"><img src="assets/images/fall-1432252_1280.jpg"></div>
                            </div>
                            <div class="y423">
                                <div class="y4231"><img src="assets/images/fishing-1572408_1280.jpg"></div>
                                <div class="y4232"><img src="assets/images/fishing-boat-1654446_1280.jpg"></div>
                                <div class="y4233"><img src="assets/images/frogs-1610563_1280.jpg"></div>
                            </div>
                            
                        </div>   
                    </div>
                </div>