<div class="d">
                    <div class="d1">
                        
                    
                        
                    <img src="assets/images/4_a.fw_-1.png">
                    </div>
                    <div class="d2">
                        <h3>We lorem and ipsum your aliquam</h3>
                    </div>
                    <div class="d3" >
                        <div class="d311"></div>
                        <div class="d31"*ngFor='let block of dBlock'>
                            
                            <img src="{{block.image}}">
                            
                        </div>
                        
                        <div class="d312"></div>
                    </div>
                    <div class="d4" >
                        <div class="d411"></div>
                        <div class="d41"*ngFor='let block of d1Block'>
                            <img src="{{block.image}}">
                            
                        </div>
                        
                        <div class="d412"></div>
                        
                    </div>
                    <div class="d5" >
                        <div class="d511"></div>
                        <div class="d51"*ngFor='let block of d2Block'>
                            <img src="{{block.image}}">
                            
                        </div>
                        
                        <div class="d512"></div>
                        
                    </div>
                    <div class="d6"></div>
                    
                </div>