<p class="main">
  Registered successfully!!!
</p>
<br>
<br>
<br>
<div class = "home_ref">
<button routerLink="/"> Return to main page </button>
</div>
<br>
<br>
<p class="main">Information:</p>
<p class="info">Booking Day: {{booking.bookingday}}</p>
<p class="info">Booking Time: {{booking.bookingtime}}</p>
<p class="info">№ of people: {{booking.people}}</p>
<p class="info">First Name: {{booking.fname}}</p>
<p class="info">Last Name: {{booking.lname}}</p>
<p class="info">Email: {{booking.email}}</p>
<p class="info">Phone Number: {{booking.phone}}</p>
<p class="info">Country: {{booking.country}}</p>
<p class="info">City: {{booking.city}}</p>
<p class="info">Address: {{booking.address}}</p>
<p class="info">Zip Code: {{booking.zip}}</p>
<p class="info">Card Number: {{booking.cardnumber}}</p>
<p class="info">month: {{booking.month}}</p>
<p class="info">year: {{booking.year}}</p>
<p class="info">cvc: {{booking.cvc}}</p>

