$pink1:#DA1C5C;
$black1:black;
$white1:white;
$whitedarker:rgb(247,247,247);
$darkgray1:#262727;
$darkgray2:#363839;
$lightgray1:rgb(114,112,112);
$lightgray2:rgb(116,116,116);
$lightgray3:rgb(200,200,200);
$lightgray4:rgb(230,230,230);
$purple1:#905fa1;
$width1:100%;
$height1:100%;
$height2_d:400px;
$back-img:url(images/home-cor.jpg);
@mixin pos-dis($position:relative,$display:block){
    position:$position;
    display:$display;
}
@mixin foto-style($display:block,$width:50%,$height:50%,$background-size:contain,$background-repeat:no-repeat){
    display:$display;
    width:$width;
    height:$height;
    background-size:$background-size;
    background-repeat:$background-repeat;
}
@mixin foto2_style($display:block,$width:100%,$height:100%,$background-size:cover){
    display:$display;
    width:$width;
    height:$height;
    background-size:$background-size;
}

@mixin font1-style($align:center,$size:25px,$color:$white1,$weight:600){
    text-align:$align;
    font-size:$size;
    color:$color;
    font-weight:$weight;
}
@mixin d_xxx-style($width: 8%,$height:$height1,$float:left){
    width:$width;
    height:$height;
    float:$float;
}
@mixin d_xx-style($width: 28%,$height:$height1,$float:left){
    width:$width;
    height:$height;
    float:$float;
}
@mixin f_xxx-style($width:600px, $height:40px, $background:$lightgray3, $radius:10px, $margin:10px){
    width:$width;
    height:$height;
    background:$background;
    border-radius:$radius;
    margin-bottom:$margin;
}
@mixin f_xxxx-style($width:10%,$height:100%,$background:$lightgray4,$float:left,$border-bottom-right-radius:10px,$border-top-right-radius: 10px){
    width:$width;
    height:$height;
    background:$background;
    float:$float;
    border-bottom-right-radius:$border-bottom-right-radius;
    border-top-right-radius: $border-top-right-radius;
}
@mixin f_font-style($align:left,$size:18px,$color:$lightgray2,$top:7px,$left:10px){
    text-align:$align;
    font-size:$size;
    color:$color;
    margin-top:$top;
    margin-left:$left;
}
@mixin y_xxx-style($width:$width1+(-20%), $height:$height1/3, $float:left){
    width:$width;
    height:$height;
    float:$float;
}
@mixin y_xxxx1-style($width:$width1/3, $height:$height1, $float:left){
    width:$width;
    height:$height;
    float:$float;
}
@mixin y_xxxx2-style($width:$width1/4, $height:$height1, $float:left){
    width:$width;
    height:$height;
    float:$float;
}
body{margin:0 auto;
p, h1, h2, h3, h4, h5, h6{
    margin:0;
}
section{ 
    width: auto;
    height:auto; 

header{
    @include pos-dis;
    width:$width1;
    height:130px;
    overflow:hidden;
    
    div.a1{
        width:$width1;
        height:30px;
        background:$pink1;
        padding-left:60px;
        div{
            @include pos-dis;
            height:$height1;
            width:20px;
            float:left;
            margin-left:10px;
        }
    }
    div.a2{
        @include pos-dis;
        width:$width1;
        height:100px;
        background:$white1;
        
        
        div.a21{
            width:$width1/4;
            height:$height1;
            float:left;
            padding-top:20px;
            padding-left:30px;
            foto{
                @include foto-style;
                
            }
            
        }
        div.a22{
            @include pos-dis;
            width:$width1+(-30%);
            height:$height1;
            float:left;
            ul{
                overflow:hidden;
                margin:0 auto;
                li{
                    float:left;
                    list-style-type:none;
                    a{
                        color:$black1;
                        display:block;
                        padding:30px 15px;
                        text-decoration:none;
                    }
                }
            }
        }
    }
}
center{
    div.b{
        width:$width1;
        height:800px;
        background-image:$back-img;
        overflow:hidden;
        div.b1{
            display:block;
            width:$width1;
            height:$height1/2;
            h2{
                @include font1-style;
                padding-top:200px;
            }
            h3{
                @include font1-style($size:20px);
                margin-top:40px;
            }
            p{
                @include font1-style($size:14px);
                margin-top:20px;
            }
            
        }
        div.b2{
            display:block;
            width:$width1;
            height:$height1/2;
            div{
                @include pos-dis;
                width:$width1+(-85.72%);
                height:$height1;
                float:left;
                padding-top:40px;
                foto{
                    @include foto-style($height:25%)
                }
                h2{
                    @include font1-style($size:18px);
                }
            }
        }
        
    }
    div.c{
        @include pos-dis;
        width:$width1;
        height:500px;
        background:$whitedarker;
        overflow:hidden;
        div.c1{
            width:$width1/2;
            height:$height1;
            padding-top:40px;
            float:left;
            h3{
                text-align:left;
                margin-left:100px;
                margin-right:20px;
                font-size:40px;
                font-weight:500;
                color:$lightgray1;
            }
            p{
                text-align:left;
                margin-left:100px;
                margin-right:20px;
                margin-top:40px;
                font-size:18px;
                color:$lightgray2;
                font-weight:normal;
            }
            
            a{
                padding:10px;
                background:$pink1;
                color:$white1;
                text-align:center;
                display:block;
                width:95px;
                position:absolute;
                left:100px;
                top:350px;
            }
            
        }
        div.c2{
            width:$width1/2;
            height:$height1;
            padding-top:130px;
            float:left;
            img{
                width:$width1+(-25%);
            }
        }
        
    }
    div.d{
        @include pos-dis;
        width:$width1;
        height:1705px;
        background-image:$back-img;
        overflow: hidden;
        div.d1{
            @include pos-dis;
            width:$width1;
            height:$height2_d/2;
            padding-left:300px;
            padding-right:300px;
            padding-top:100px;
                foto{
                    @include foto-style;
            }
            }
        div.d2{
            @include pos-dis;
            width:$width1;
            height:$height2_d+(-295px);
            }
            h3{@include font1-style;
                
                }
        div.d3{
            @include pos-dis;
            width:$width1;
            height:$height2_d;
            div.d311{
                @include d_xxx-style;
                
            }
            div.d31{
                @include d_xx-style;
                foto{
                    @include foto2_style;
                }
            }
            div.d32{
                @include d_xx-style;
                foto{
                    @include foto2_style;
                }
            }
            div.d33{
                @include d_xx-style;
                foto{
                    @include foto2_style;
                }
            }
            div.d312{
                @include d_xxx-style;
            }
        }
        div.d4{
            @include pos-dis;
            width:$width1;
            height:$height2_d;
            div.d411{
                @include d_xxx-style;
            }
            div.d41{
                @include d_xx-style;
                foto{
                    @include foto2_style;
                }
            }
            div.d42{
                @include d_xx-style;
                foto{
                    @include foto2_style;
                }
            }
            div.d43{
                @include d_xx-style;
                foto{
                    @include foto2_style;
                }
            }
            div.d412{
                @include d_xxx-style;
            }
        }
        div.d5{
            @include pos-dis;
            width:$width1;
            height:$height2_d;
            div.d511{
                @include d_xxx-style;
            }
            div.d51{
                @include d_xx-style;
                foto{
                    @include foto2_style;
                }
            }
            div.d52{
                @include d_xx-style;
                foto{
                    @include foto2_style;
                }
            }
            div.d53{
                @include d_xx-style;
                foto{
                    @include foto2_style;
                }
            }
            div.d512{
                @include d_xxx-style;
            }
        }
        div.d6{}
    }
    div.e{
        @include pos-dis;
        width:$width1;
        height:1000px;
        background:$white1;
        overflow: hidden;
        div.e1{
            @include pos-dis;
            width:$width1;
            height:$height1+(-70%);
            float:left;
            padding-left:250px;
            padding-right:350px;
            padding-top:100px;
            foto{
                @include foto-style($width:40%,$height:40%)
            }
            h2{
                @include font1-style($color:$purple1);
                padding-top:10px;
                padding-left:100px;
                padding-right:500px;
            }
        }
        div.e2{
            @include pos-dis;
            width:$width1;
            height:$height1+(-30%);
            float:left;
            div{
                display:block;
                width:$width1/3;
                height:$height1;
                float:left;
                foto{
                    @include foto2_style($width:75%,$height:50%);
                    border-radius: 50%;
                }
                h2{
                    text-align:left;
                    font-size:20px;
                    color:$lightgray1;
                    font-weight:600;
                    padding-left:20px;
                    padding-top:10px;
                }
                h3{
                    text-align:left;
                    font-size:20px;
                    color:$purple1;
                    font-weight:600;
                    padding-left:20px;
                    padding-top:10px;
                }
                p{
                    text-align:left;
                    font-size:16px;
                    color:$lightgray2;
                    padding-left:20px;
                    padding-top:20px;
                    padding-right:20px;
                }
            
            }
        }
    }
    div.f{
        @include pos-dis;
        width:$width1;
        height:700px;
        background-image:$back-img;
        overflow: hidden;
        div.f1{
            @include pos-dis;
            width:$width1;
            height:$height1/2;
            float:left;
            foto{
                @include foto-style($width:40%,$height:40%);
                margin-left:400px;
                margin-top:50px;
            }
            h2{
                @include font1-style($size:20px);
                margin-top:20px;
            }
        }
        div.f2{
            div.f21{
                @include pos-dis;
                width:$width1/2;
                height:$height1;
                float:left;
                div.f211{
                    @include pos-dis;
                    @include f_xxx-style;
                div.f2111{
                    @include pos-dis;
                    width:$width1+(-10%);
                    height:$height1;
                    float:left;
                    p{
                       @include f_font-style;
                    }
                }
                div.f2112{
                    @include pos-dis;
                    @include f_xxxx-style;
                    }
                }
                div.f212{
                    @include pos-dis;
                    @include f_xxx-style;
                    div.f2121{
                        @include pos-dis;
                        width:$width1+(-20%);
                        height:$height1;
                        float:left;
                        p{
                            @include f_font-style;
                        }
                    }
                    div.f2122{
                        @include pos-dis;
                        @include f_xxxx-style($width:20%);}
                }
                div.f213{
                    @include pos-dis;
                    @include f_xxx-style;
                    div.f2131{
                        @include pos-dis;
                        width:$width1+(-30%);
                        height:$height1;
                        float:left;
                        p{
                            @include f_font-style;
                        }
                    }
                    div.f2132{
                        @include pos-dis;
                        @include f_xxxx-style($width:30%);
                    }
                }
            }
            div.f22{
                @include pos-dis;
                width:$width1/2;
                height:$height1;
                float:left;
                div.f221{
                    @include pos-dis;
                    @include f_xxx-style;
                div.f2211{
                    @include pos-dis;
                    width:$width1+(-3%);
                    height:$height1;
                    float:left;
                    p{
                        @include f_font-style;
                    }
                }
                div.f2212{
                    @include pos-dis;
                    @include f_xxxx-style($width:3%);
                    }
                }
                div.f222{
                    @include pos-dis;
                    @include f_xxx-style;
                    div.f2221{
                        @include pos-dis;
                        width:$width1+(-25%);
                        height:$height1;
                        float:left;
                        p{
                            @include f_font-style;
                        }
                    }
                    div.f2222{
                        @include pos-dis;
                        @include f_xxxx-style($width:25%);
                    }
                }
                div.f223{
                    @include pos-dis;
                    @include f_xxx-style;
                    div.f2231{
                        @include pos-dis;
                        width:$width1+(-30%);
                        height:$height1;
                        float:left;
                        p{
                            @include f_font-style;
                        }
                    }
                    div.f2232{
                        @include pos-dis;
                        @include f_xxxx-style($width:30%);
                    }
                }
            }
        
        }
    }
    div.g{
        @include-pos-dis;
        width:$width1;
        height:500px;
        background:$white1;
        overflow: hidden;
        div.g1{
            @include pos-dis;
            width:$width1;
            height:$height1/2;
            float:left;
            foto{
                @include foto-style($width:40%,$height:40%);
                margin-left:425px;
                margin-top:50px;
            }
            h2{
                @include font1-style($color:$purple1);
                margin-top:20px;
            }
        }
        div.g2{
            @include pos-dis;
            width:$width1;
            height:$height1/2;
            float:left;
            div{
                @include pos-dis;
            width:$width1+(-75%);
            height:$height1;
            float:left;
                foto{
                    @include foto-style($width:25%,$height:25%);
                }
                h2{
                    text-align:center;
                    font-size:60px;
                    color:$darkgray2;
                }
                h3{
                   text-align:center;
                    font-size:15px;
                    color:$purple1; 
                }
            }
        }
    }
    div.y{
        width:$width1;
        height:350px;
        background:$darkgray1;
        padding-top:70px;
        overflow: hidden;
        div.y1{
            @include pos-dis;
            width:$width1/4;
            height:$height1;
            float:left;
            foto{
                @include foto-style($width:60%,$height:25%);
            }
            p{
                text-align:left;
                font-size:20px;
                color:$lightgray3;
                margin-left:40px;
            }
        }
        div.y2{
            @include pos-dis;
            width:$width1/4;
            height:$height1;
            float:left;
            h2{
                text-align:left;
                font-size:24px;
                color:$lightgray3;
                margin-left:40px;
            }
            p{
                text-align:left;
                font-size:20px;
                margin-top:10px;
                margin-left:40px;
                a{
                    color:$lightgray3;
                    display:block;
                    }
            }
        }
        div.y3{
            @include pos-dis;
            width:$width1/4;
            height:$height1;
            float:left;
            h2{
                text-align:left;
                font-size:24px;
                color:$lightgray3;
                margin-left:40px;
            }
            p{
                text-align:left;
                font-size:20px;
                color:$lightgray3;
                margin-left:40px;
                margin-top:10px;
            }
        }
        div.y4{
            @include pos-dis;
            width:$width1/4;
            height:$height1;
            float:left;
            div.y41{
                @include pos-dis;
                width:$width1;
                height:20%;
                float:left;
                h2{
                    text-align:left;
                    font-size:24px;
                    color:$lightgray3;
                    margin-left:40px;
                }
            }
            div.y42{
                @include pos-dis;
                width:$width1;
                height:50%;
                float:left;
                div.y421{
                    @include pos-dis;
                    @include y_xxx-style;
                    div.y4211{
                        @include pos-dis;
                        @include y_xxxx1-style;
                        foto{
                            @include foto2_style;
                        }
                    }
                    div.y4212{
                        @include pos-dis;
                        @include y_xxxx1-style;
                        foto{
                            @include foto2_style;
                        }
                    }
                    div.y4213{
                        @include pos-dis;
                        @include y_xxxx1-style;
                        foto{
                             @include foto2_style;
                        }
                    }
                }
                div.y422{
                    @include pos-dis;
                    @include y_xxx-style;
                    div.y4221{
                        @include pos-dis;
                        @include y_xxxx2-style;
                        foto{
                            @include foto2_style;
                        }
                    }
                    div.y4222{
                        @include pos-dis;
                        @include y_xxxx2-style;
                        foto{
                            @include foto2_style;
                        }
                    }
                    div.y4223{
                        @include pos-dis;
                        @include y_xxxx2-style;
                        foto{
                            @include foto2_style;
                        }
                    }
                    div.y4224{
                        @include pos-dis;
                        @include y_xxxx2-style;
                        foto{
                            @include foto2_style;
                        }
                    }
                }
                div.y423{
                    @include pos-dis;
                    @include y_xxx-style;
                    div.y4231{
                        @include pos-dis;
                        @include y_xxxx1-style;
                        foto{
                            @include foto2_style;
                        }
                    }
                    div.y4232{
                        @include pos-dis;
                        @include y_xxxx1-style;
                        foto{
                            @include foto2_style;
                        }
                    }
                    div.y4233{
                        @include pos-dis;
                        @include y_xxxx1-style;
                        foto{
                            @include foto2_style;
                        }
                    }
                }
                
                
            }
        }
    }
    
}
footer{
    width:$width1;
    height:60px;
    background:$darkgray2;
    }
    }}